<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Tic Tac Toe</h1>
        </div>
        <div class="board">
            <div class="square top-left"></div>
            <div class="square top-middle"></div>
            <div class="square top-right"></div>

            <div class="square middle-left"></div>
            <div class="square middle-center"></div>
            <div class="square middle-right"></div>

            <div class="square bottom-left"></div>
            <div class="square bottom-middle"></div>
            <div class="square bottom-right"></div>
        </div>
    </div>
</body>
</html>
