ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}


li {
  float: left;
  width: 25%; 
  text-align: center;
}


a:link,
a:visited {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
}

a:hover,
a:active {
  background-color: grey;
}
